.content{display: flex;
align-items: flex-start;
background-color: rgb(255, 0, 255)(160, 123, 123);
flex-wrap: wrap;}
.logo{width: 20%;}
.card{background-color: azure;
flex: 1;
max-width: 200px;
margin: 10px;
padding: 10px;
border: 1px solid #000000;
text-align: center;}
img{width: 100%;}
.logo{width: 60px;}
nav ul{list-style-type: none;
margin: 0;
padding: 0;
display: flex;}
nav li{margin-right: 10px;
}
header{display: flex;
background-color:hotpink ;
color: black;
padding: 10px;
text-align: center;
justify-content: space-between;}
.content{background-color: hotpink;}
h2{font-family: 'Vina Sans', sans-serif;}
h1{font-family: 'Vina Sans', sans-serif;
text-align: center;}
p{font-family: 'Amatic SC', sans-serif;}
.menu{display: flex;
 flex-wrap: wrap;
 align-items: center;}
 li a:hover{text-decoration: underline;
color: purple; }
li a{text-decoration: none;
    font-family: 'Amatic SC', sans-serif;}
.socials{background-color: hotpink;}
body{margin: 0;}
.footr{background-color: dimgrey;
color: chartreuse;
padding: 20;}
i{font-size: 20px;}
i{margin: 5px;}
.fa-youtube:hover{color: red;}
.fa-twitter:hover{color:aqua}
.fa-instagram:hover{color: orangered;}
.fa-tiktok:hover{color: darkviolet;}
p{font-size: 30px;}